ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  background-position: 0 50%;
  background-repeat: no-repeat;
  color: #0087cc;
  padding-left: 22px;
  text-decoration: none;
}

a {
  color: #ff7b29;
}

a[href$=".pdf"] {
  background-image: url("../imgs/pdf.png");
}

a[href$=".doc"] {
  background-image: url("../imgs/doc.png");
}

a[href$=".jpg"] {
  background-image: url("../imgs/image.png");
}

a[href$=".mp3"] {
  background-image: url("../imgs/audio.png");
}

a[href$=".mp4"] {
  background-image: url("../imgs/video.png");
}
