svg {
    width: 320px;
    height: 240px;
    border: 1px solid black;
}

#myGraph rect {
    stroke: rgb(160, 0, 0); /* 도형의 선 색 지정 */
    stroke-width: 1px;  /* 도형의 선 굵기 지정 */
    fill: rgb(255, 0, 0);
}