img{
  display: inline-block;
  width: 8%;
  height: 8%;
  margin: 2px;
  border: 1px solid black;
}

#image_set{
  width: 80%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
}

#image{
  width: 575px;
  height: 575px;
  border:5px solid black;
  margin:0 auto;
  background-color: #CCCCCC;
  background-image: url('../imgs/twice1.jpg');
  background-repeat: no-repeat;
  color:#000000;
  text-align: center;
  background-size: 100%;
  margin-bottom:25px;
  font-size: 150%;
}

#name{
  background-color: #FFFFFF;
  margin: 0;
  position: relative;
  top: 90%;
}
