section {
  width: 50%;
  height: 30%;
}

h1 {
  background: #5F5F5F;
  color: white;
  font-variant: small-caps;
  text-align: center;
}

span {
  background: #F1F1F1;
  color: #DC082F;
}

ul {
  font-family: Courier;
}
