span{
  height: 100px;
  width: 200px;
  background: #edd9d8;
}

div{
  height: 100px;
  width: 45%;
  background: #edd9d8;
}

p{
  height: 100px;
  width: 200px;
  background: #edd9d8;
  display: inline-block;;
}

i{
  height: 100px;
  width: 200px;
  background: #edd9d8;
  display: inline-block;
  }

  h1{
    height: 100px;
    width: 200px;
    background: #edd9d8;
    display: none;
  }
